.jumbotron {
    text-align: center;
    margin-top: 30px;
    color: white;
    background-image: url(images/food.jpg);
}

#title-holder {
    text-align: center;
    background-color: black;
}

#ingredients-holder {
    text-align: center;
    margin: 15px;
    border: solid 2px black;
    /* float: left; */
}

#list-holder {
    text-align: center;
    margin: 15px;
    border: solid 2px black;
    /* width: 50%; */
    /* float: left; */
}

#add-holder {
    text-align: center;
    margin-top: 30px;
    /* margin: 15px; */
}

.card-header {
    background-color: black;
    color: white;
}

#button-holder {
    margin-top: 15px;
    margin-bottom: 15px;
}

#add-button {
    margin: 10px;
}


#form-submit {
    float: left;
}

#list {
    margin-top: 15px;
    margin-bottom: 30px;
}

ul {
    margin: 10px;
}

#list-button-holder {
    /* margin-bottom: 15px; */
    background-color: black
}

.btn-success {
    margin: 10px;
}

.btn-test {
    padding: 10px .75rem;
}

.btn-light {
    margin: 15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color :black;
    background-image: url(images/cutting-board.jpg);
}

h5 {
    background-color: black;
    color: white;
}

body {
    background-image: url(images/cutting-board.jpg);
}

.row {
    /* background-image: url(images/metallic.jpg); */
}
.recipeCard{
    background-color: bisque;
    border: 0px 1px 1px 1px solid;
    border-radius: 20px;
    max-width: 380px;
    margin: 10px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.recipeCard:hover{
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
img{
    width: 380px;
    max-height: 200px;
    background-color: bisque;
    border-radius: 10px
}

h3 {
    text-align: center;
    color: #696969;
    background-color: navajowhite;
    font-size: 25px;
    font-family: garamond;
    font-weight: bolder;
}

li {
    list-style-type: none;
}

label {
    font-weight: bold;
    font-size: 20px;
}
col {
    text-align: center;
}

#food-add {
    text-align: center;
    margin-top: 25.5px;
}
