.jumbotron {
    text-align: center;
    margin-top: 30px;
    color: white;
    background-image: url(images/food.jpg);
}

#title-holder {
    text-align: center;
    background-color: black;
}

#ingredients-holder {
    text-align: center;
    margin: 15px;
    border: solid 2px black;
    /* float: left; */
}

#list-holder {
    text-align: center;
    margin: 15px;
    border: solid 2px black;
    /* width: 50%; */
    /* float: left; */
}

#add-holder {
    text-align: center;
    margin-top: 30px;
    /* margin: 15px; */
}

.card-header {
    background-color: black;
    color: white;
}

#button-holder {
    margin-top: 15px;
    margin-bottom: 15px;
}

#add-button {
    margin: 10px;
}


#form-submit {
    float: left;
}

#list {
    margin-top: 15px;
    margin-bottom: 30px;
}

ul {
    margin: 10px;
}

#list-button-holder {
    /* margin-bottom: 15px; */
    background-color: black
}

.btn-success {
    margin: 10px;
}

.btn-light {
    margin: 15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color :black;
    background-image: url(images/cutting-board.jpg);
}

h5 {
    background-color: black;
    color: white;
}

body {
    background-image: url(images/cutting-board.jpg);
}

.row {
    /* background-image: url(images/metallic.jpg); */
}
.recipeCard{
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    max-width: 388px;
}
img{
    max-width: 400px;
    max-height: 200px;
}